# Ignore VS Code directory, but share specific settings
.vscode/*
!.vscode/launch.json
!.vscode/c_cpp_properties.json
!.vscode/mcp.json
!.vscode/tasks.json

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Bazel Directories
bazel-*
#
# Build artefacts are placed in these directories.
#
bin/
build/
lib/
Frameworks/
Carthage/Build
Carthage/Checkouts
xcuserdata/
.DS_Store
*.xccheckout
*.xcscmblueprint
.Rproj.user
.aider*
copilot/perf/artifacts
